<ion-view view-title="Alerts">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="alertItem in alertItems" type="item-text-wrap" href="#/tab/alerts/{{alertItem.id}}">
        <img ng-src="{{alertItem.face}}">
        <h2>{{alertItem.name}}</h2>
        <p>{{alertItem.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(alertItem)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
