<ion-view view-title="Add New Alert">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Alert Name</span>
                <input type="text" placeholder="New Alert">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Filter text</span>
                <input type="text" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">From</span>
                <input type="text" placeholder="001xxxxxxx">
            </label>
        </div>
        <p>
            <h3>Threat Level</h3>
        </p>
        <ion-list>
            <ion-radio ng-model="level" ng-value="1">High - 1</ion-radio>
            <ion-radio ng-model="level" ng-value="0">Low - 0</ion-radio>
        </ion-list>
        <button class="button button-full button-assertive"> Clear
        </button>
        <button class="button button-full button-calm"> Add
        </button>
    </ion-content>
</ion-view>