<ion-view view-title="Add New Alert">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Alert Name</span>
                <input ng-model="alert.name" type="text" placeholder="New Alert">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Filter text</span>
                <input ng-model="alert.filter" type="text" placeholder="some text to identify">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">From</span>
                <input ng-model="alert.phone" type="text" placeholder="Phone number">
            </label>
        </div>
        <p>
            Threat Level
        </p>
        <ion-list>
            <ion-radio ng-model="alert.level" ng-value="1">High - 1</ion-radio>
            <ion-radio ng-model="alert.level" ng-value="0">Low - 0</ion-radio>
        </ion-list>
        <button ng-click="clear(alert)" class="button button-full button-assertive"> Clear
        </button>
        <button ng-click="addAlert(alert)" class="button button-full button-calm"> Add
        </button>
        
    </ion-content>
</ion-view>